<header class="header">
  <div class="container" style="max-width: 2680px;">
    <div class="container">
      
      <div class="logo">
        <div class="logo-img">
          <img src="/images/logo.svg" alt="logo">
        </div>
        <div class="logo-text">
          <span class="companyNameText">{{ companyName }}</span>
        </div>
      </div>
      
      <div class="menu">
        <nav class="nav">
          <ul class="list">
            @for (navItem of navItems; track navItem.id) {
              <li class="item">
                <a
                  [id]="navItem.id"
                  [routerLink]="navItem.path"
                  routerLinkActive="active-link"
                  [routerLinkActiveOptions]="{ exact: navItem.exact }"
                >
                  {{ navItem.label }}
                </a>
              </li>
            }
          </ul>
        </nav>

        <div class="theme-controls">
          <div class="mode-switcher">
            <p-toggle-switch 
              id="app-mode-switcher"
              [ngModel]="isDarkMode$ | async"
              (onChange)="handleToggleMode($event)"
            >
            </p-toggle-switch>
            <i class="pi" [ngClass]="(isDarkMode$ | async) === true ? 'pi-moon' : 'pi-sun'"></i>
          </div>
          
          <div class="preset-switcher">
            <p-selectbutton
              id="select-preset-button"
              [ngModel]="preset$ | async"
              (onChange)="handleChangePreset($event.value)"
              [options]="presetOptions"
              optionLabel="name"
              optionValue="value"
            />
          </div>
        </div>
    
        <button
          id="consultation-button"
          class="primary-button consultation-button"
          (click)="messageService.showSuccess('Вы записаны на консультацию')"
        >
          Консультация
        </button>
      </div>

    </div>
  </div>
</header>