<article class="card-user-item">
  <form [formGroup]="userForm">
    
    <div class="card-user-section">
      <div class="card-user-wrapper">
        <span class="card-user-title">Контакты</span>
        <div class="card-user-line"></div>
      </div>
      
      <div class="card-user-info">
        <label class="card-user-property">Имя:</label>
        <input id="name" formControlName="name">
      </div>
      
      <div class="card-user-info">
        <label class="card-user-property">Никнейм:</label>
        <input id="username" formControlName="username">
      </div>
      
      <div class="card-user-info">
        <label class="card-user-property">Эл.почта:</label>
        <input id="email" class="user-info-value" formControlName="email">
      </div>

      <div class="card-user-info">
        <label class="card-user-property">Телефон:</label>
        <input id="phone" class="user-info-value" formControlName="phone">
      </div>
      
      <div class="card-user-info">
        <label class="card-user-property">Веб-сайт:</label>
        <input id="website" class="user-info-value" formControlName="website">
      </div>
    </div>

    <div class="card-user-section" formGroupName="address"> 
      <div class="card-user-wrapper">
        <span class="card-user-title">Адрес проживания</span>
        <div class="card-user-line"></div>
      </div>
      
      <div class="card-user-info">
        <label class="card-user-property">Город:</label>
        <input id="city" class="user-info-value" formControlName="city">
        
      </div>
      
      <div class="card-user-info">
        <label class="card-user-property">Улица:</label>
        <input id="street" class="user-info-value" formControlName="street">
      </div>
      
      <div class="card-user-info">
        <label class="card-user-property">Офис:</label>
        <input id="suite" class="user-info-value" formControlName="suite">
      </div>
      
      <div class="card-user-info">
        <label class="card-user-property">Индекс:</label>
        <input id="zipcode" class="user-info-value" formControlName="zipcode">
      </div>
      
      <div class="card-user-info" formGroupName="geo">
        <span class="card-user-property">Координаты:</span>
        <div class="user-info-geo">
          
          <label class="card-user-property">Lat:</label>
          <input id="lat" class="user-info-value" formControlName="lat">
          
          <label class="card-user-property">Lng:</label>
          <input id="lng" class="user-info-value" formControlName="lng">
          
        </div>
      </div>
    </div>

    <div class="card-user-section" formGroupName="company">
      <div class="card-user-wrapper">
        <span class="card-user-title">Место работы:</span>
        <div class="card-user-line"></div>
      </div>
      
      <div class="card-user-info">
        <label class="card-user-property">Компания:</label>
        <input id="company-name" class="user-info-value" formControlName="name">
      </div>
      
      <div class="card-user-info">
        <label class="card-user-property">Миссия:</label>
        <input id="catchPhrase" class="user-info-value" formControlName="catchPhrase">
      </div>
      
      <div class="card-user-info">
        <label class="card-user-property">Специализация:</label>
        <input id="bs" class="user-info-value" formControlName="bs">
      </div>
    </div>
    
  </form>
  
  <button (click)="handleSubmit()" [disabled]="userForm.invalid">Создать карточку пользователя</button>
  
</article>
