@if (post) {
  <div class="post-detail-container">
    <p-card class="post-card">
      
      <div class="mb-3">
        <button
          id="back-btn"
          pButton 
          type="button" 
          label="Назад к спискам" 
          icon="pi pi-arrow-left" 
          class="p-button-text p-button-secondary" 
          routerLink="/posts"
        ></button>
      </div>

      <h1>{{ post.title }}</h1>

      <p class="post-body">{{ post.body }}</p>

      <div class="post-meta">
        <div class="views-info">
          <i class="pi pi-eye"></i>
          <span>Просмотры: <strong>{{ post.views }}</strong></span>
        </div>

        <div class="tags-info">
          @for (tag of post.tags; track tag) {
            <p-tag [value]="tag" severity="info" class="mr-1" />
          }
        </div>
      </div>
    </p-card>
  </div>
}