@use '../assets/animations' as *;

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: spin 1.5s linear infinite;
  width: 50px;
  height: 50px;
  background-image: url('/icons/spinner-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}