<article class="card-user-item">
  <form [formGroup]="userForm">
    <div class="card-user-section">
      <div class="card-user-wrapper">
        <span class="card-user-title">Контакты</span>
        <div class="card-user-line"></div>
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="name">Имя:</label>
        <input [appGradient]="inputGradientConfig" id="name" formControlName="name" />
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="username">Никнейм:</label>
        <input [appGradient]="inputGradientConfig" id="username" formControlName="username" />
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="email">Эл.почта:</label>
        <input
          [appGradient]="inputGradientConfig"
          id="email"
          class="user-info-value"
          formControlName="email"
        />
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="phone">Телефон:</label>
        <input
          [appGradient]="inputGradientConfig"
          id="phone"
          class="user-info-value"
          formControlName="phone"
        />
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="website">Веб-сайт:</label>
        <input
          [appGradient]="inputGradientConfig"
          id="website"
          class="user-info-value"
          formControlName="website"
        />
      </div>
    </div>

    <div class="card-user-section" formGroupName="address">
      <div class="card-user-wrapper">
        <span class="card-user-title">Адрес проживания</span>
        <div class="card-user-line"></div>
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="city">Город:</label>
        <input
          [appGradient]="inputGradientConfig"
          id="city"
          class="user-info-value"
          formControlName="city"
        />
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="street">Улица:</label>
        <input
          [appGradient]="inputGradientConfig"
          id="street"
          class="user-info-value"
          formControlName="street"
        />
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="suite">Офис:</label>
        <input
          [appGradient]="inputGradientConfig"
          id="suite"
          class="user-info-value"
          formControlName="suite"
        />
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="zipcode">Индекс:</label>
        <input
          [appGradient]="inputGradientConfig"
          id="zipcode"
          class="user-info-value"
          formControlName="zipcode"
        />
      </div>

      <div class="card-user-info" formGroupName="geo">
        <span class="card-user-property">Координаты:</span>

        <div class="user-info-geo">
          <label class="card-user-property" for="lat">Lat:</label>
          <input
            [appGradient]="inputGradientConfig"
            id="lat"
            class="user-info-value"
            formControlName="lat"
          />

          <label class="card-user-property" for="lng">Lng:</label>
          <input
            [appGradient]="inputGradientConfig"
            id="lng"
            class="user-info-value"
            formControlName="lng"
          />
        </div>
      </div>
    </div>

    <div class="card-user-section" formGroupName="company">
      <div class="card-user-wrapper">
        <span class="card-user-title">Место работы:</span>
        <div class="card-user-line"></div>
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="company-name">Компания:</label>
        <input
          [appGradient]="inputGradientConfig"
          id="company-name"
          class="user-info-value"
          formControlName="name"
        />
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="catchPhrase">Миссия:</label>
        <input
          [appGradient]="inputGradientConfig"
          id="catchPhrase"
          class="user-info-value"
          formControlName="catchPhrase"
        />
      </div>

      <div class="card-user-info">
        <label class="card-user-property" for="bs">Специализация:</label>
        <input
          [appGradient]="inputGradientConfig"
          id="bs"
          class="user-info-value"
          formControlName="bs"
        />
      </div>
    </div>
  </form>

  <button hover (click)="handleSubmit()" [disabled]="userForm.invalid">
    Создать карточку пользователя
  </button>
</article>
