<header class="header">
  <div class="container">
    
    <div class="logo">
      <div class="logo-img">
        <img src="/images/logo.png" alt="logo">
      </div>
      <div class="logo-text">
        <span class="companyNameText">{{companyName}}</span>
      </div>
    </div>
    
    <div class="navigation">
      <nav class="menu">
        <a href="#">Главная</a>
        <a href="#">Про гида</a>
        <a href="#">Программа тура</a>
        <a href="#">Стоимость</a>
        <a href="#">Блог</a>
        <a href="#">Контакты</a>
      </nav>
      <button class="primary-button consultation-button">Консультация</button>
    </div>
    
  </div>
</header>

<section class="main-info white-text">
  
  <div class="banner"></div>
  <div class="title container">
    <h1>Насладись прогулкой в горах <br> с командой единомышленников</h1>
  </div> 

  <div class="search-program">
    <div class="input-field">
      <select>
        <option>Локация для тура</option>
        <option>Турция</option>
        <option>Италия</option>
        <option>Греция</option>
      </select>
        <span>выберите из списка</span>
    </div>
    
    <div class="input-field date">
      <input type="date">
      <span class="calendar-icon"></span>
      <span>укажите диапазон</span>
    </div>
    
    <div class="input-field">
      <select>
        <option>Участники</option>
        <option>4</option>
        <option>8</option>
        <option>12</option>
        <option>16</option>
      </select>
      <span>минимум 4 человека</span>
    </div>
    
    <div class="search-program-button">
      Найти программу
    </div>
  </div>
</section>