<div class="table-actions" style="margin-bottom: 1rem; display: flex; justify-content: flex-end">
  <button
    pButton
    label="Создать пост"
    aria-label="Создать пост"
    icon="pi pi-plus"
    routerLink="/posts/create"
  ></button>
</div>

<p-contextmenu #cm [model]="contextMenuItems" />

<p-table
  [value]="(isLoading$ | async) ? skeletonRows : posts"
  [lazy]="true"
  [paginator]="true"
  [rows]="pageSize"
  [totalRecords]="totalElements"
  [rowsPerPageOptions]="[10, 20, 50]"
  [first]="first"
  (onPage)="onPageChange($event)"
  [(contextMenuSelection)]="selectedContextPost"
  [contextMenu]="cm"
  dataKey="id"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template #header>
    <tr>
      <th style="width: 50%">Title</th>
      <th style="width: 30%">Tags</th>
      <th style="width: 20%">Views</th>
    </tr>
  </ng-template>

  <ng-template #body let-post>
    @if (isLoading$ | async) {
      <tr>
        <td><p-skeleton width="85%" height="1.5rem" /></td>
        <td><p-skeleton width="50%" height="1.5rem" /></td>
        <td><p-skeleton width="30%" height="1.5rem" /></td>
      </tr>
    } @else {
      <tr [pContextMenuRow]="post" (dblclick)="onRowDoubleClick(post)">
        <td>
          <span>{{ post.title }}</span>
        </td>
        <td>
          <span>{{ post.tags?.join(', ') }}</span>
        </td>
        <td>
          <span>{{ post.views }}</span>
        </td>
      </tr>
    }
  </ng-template>
</p-table>
