@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin transform {
  transition: transform 0.4s ease;
  &:hover {
    transform: scale(1.05);
  };
}