@use './fonts';
@use './normalize';
@use './button';
@use './desc.block';

* {
  font-family: 'Nunito Sans';
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-color: #18121E;
  --white-color: #FDFDFD;
  --secondary-color: #F2BE22;
}
