<article class="card-user-item">
  
  <h2 class="card-user-name">{{ user.name || 'Неизвестно' | uppercase }}</h2>
  <p class="card-user-nickname">{{ user.username ? '&#64;' + user.username : 'Неизвестно' }}</p>

  <div class="card-user-section">
    <div class="card-user-wrapper">
      <span class="card-user-title">Контакты</span>
      <div class="card-user-line"></div>
    </div>
    
    <div class="card-user-info">
      <span class="card-user-property">Эл.почта:</span>
      <span class="user-info-value">{{ user.email || "Неизвестно" }}</span>
    </div>
    <div class="card-user-info">
      <span class="card-user-property">Телефон:</span>
      <span class="user-info-value">{{ user.phone || "Неизвестно" | number: 'masked' }}</span> 
    </div>
    <div class="card-user-info">
      <span class="card-user-property">Веб-сайт:</span>
      <span class="user-info-value user-value-link">{{ user.website || "Неизвестно" }}</span>
    </div>
  </div>

  <div class="card-user-section">
    <div class="card-user-wrapper">
      <span class="card-user-title">Адрес проживания</span>
      <div class="card-user-line"></div>
    </div>
    
    <div class="card-user-info">
      <span class="card-user-property">Город:</span>
      <span class="user-info-value">{{ user.address.city || "Неизвестно" }}</span>
    </div>
    <div class="card-user-info">
      <span class="card-user-property">Улица:</span>
      <span class="user-info-value">{{ user.address.street || "Неизвестно" }}</span>
    </div>
    <div class="card-user-info">
      <span class="card-user-property">Офис:</span>
      <span class="user-info-value">{{ user.address.suite || "Неизвестно" }}</span>
    </div>
    <div class="card-user-info">
      <span class="card-user-property">Индекс:</span>
      <span class="user-info-value">{{ user.address.zipcode || "Неизвестно" }}</span>
    </div>
    <div class="card-user-info">
      <span class="card-user-property">Координаты:</span>
      <div class="user-info-geo">
        <span class="user-info-value">{{ user.address.geo.lat || "Неизвестно" }}</span>
        <span class="user-info-value">{{ user.address.geo.lng || "Неизвестно" }}</span>
      </div>
    </div>
  </div>

  <div class="card-user-section">
    <div class="card-user-wrapper">
      <span class="card-user-title">Место работы</span>
      <div class="card-user-line"></div>
    </div>
    
    <div class="card-user-info">
      <span class="card-user-property">Компания:</span>
      <span class="user-info-value">{{ user.company.name || "Неизвестно" }}</span>
    </div>
    <div class="card-user-info">
      <span class="card-user-property">Миссия:</span>
      <span class="user-info-value user-value-mission">{{ user.company.catchPhrase || "Неизвестно" }}</span>
    </div>
    <div class="card-user-info">
      <span class="card-user-property">Специализация:</span>
      <span class="user-info-value">{{ user.company.bs || "Неизвестно" }}</span>
    </div>
  </div>
  
  <button hover (click)="onDeleteUser()">Удалить карточку</button>
</article>